<main class="main">
  <div class="main__first-column">
    <div class="card">
      <div class="buttons">
        <asp-upload-file></asp-upload-file>

        <p-button styleClass="p-button-sm" (click)="deleteAll()"><span class="pi pi-trash"></span> Delete All</p-button>
      </div>

      <div class="table">
        <asp-files-table></asp-files-table>
      </div>
    </div>

    @if (data) {
      <asp-pie-chart [data]="data"></asp-pie-chart>
    }
  </div>

  <div class="main__second-column">
    @if (data) {
      <asp-chart-data-filter></asp-chart-data-filter>
      <asp-bar-chart [data]="data"></asp-bar-chart>
    }
  </div>
</main>

<router-outlet />
