<div class="chart-data-filter">
  <form [formGroup]="formGroup">
    <div class="chart-data-filter__input-wrapper">
      <label for="checkboxId">Sort by values: </label>
      <p-check-box
        id="checkboxId"
        formControlName="isSort"
        [binary]="true"
        (onChange)="onSort()"
      />
    </div>

    <div class="chart-data-filter__input-wrapper">
      <label for="catId">Filter by categories: </label>
      <input
        pInputText
        id="catId"
        formControlName="category"
        [style]="{ 'padding': '4px 6px', 'width': '160px' }"
        (input)="onCategory()"
      />
    </div>

    <div class="chart-data-filter__input-wrapper">
      <label for="ltId">Filter values from: </label>
      <p-input-number
        id="ltId"
        formControlName="lessThanFilter"
        [inputStyle]="{ 'padding': '4px 6px', 'width': '80px' }"
        (onInput)="onLessThan()"
      />
    </div>

    <div class="chart-data-filter__input-wrapper">
      <label for="mtId">Filter values to: </label>
      <p-input-number
        id="mtId"
        formControlName="moreThanFilter"
        [inputStyle]="{ 'padding': '4px 6px', 'width': '80px' }"
        (onInput)="onMoreThan()"
      />
    </div>

    <div class="chart-data-filter__input-wrapper">
      <span></span>
      <p-button styleClass="p-button-sm" (click)="clear()">Clear All</p-button>
    </div>
  </form>
</div>
